@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-italic-100.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-italic-200.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-italic-300.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-italic-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-italic-500.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-italic-600.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-italic-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-italic-800.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-italic-900.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-normal-100.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-normal-200.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-normal-300.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-normal-500.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-normal-600.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-normal-800.woff]]) format('woff');
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('Inter'), url([[font:theme|Inter-normal-900.woff]]) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato'), url([[font:theme|Lato-normal-300.woff]]) format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat'), url([[font:theme|Montserrat-normal-500.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 100;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-italic-100.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 200;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-italic-200.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-italic-300.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-italic-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-italic-500.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-italic-600.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-italic-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-italic-800.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 900;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-italic-900.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-normal-100.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-normal-200.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-normal-300.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-normal-500.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-normal-600.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-normal-800.woff]]) format('woff');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
    font-display: swap;
    src: local('Noto Sans'), url([[font:theme|NotoSans-normal-900.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-italic-300.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-italic-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-italic-500.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-italic-600.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-italic-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-italic-800.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-normal-300.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-normal-500.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-normal-600.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
    font-display: swap;
    src: local('Open Sans'), url([[font:theme|OpenSans-normal-800.woff]]) format('woff');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local('Playfair Display'), url([[font:theme|PlayfairDisplay-italic-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Playfair Display'), url([[font:theme|PlayfairDisplay-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Playfair Display'), url([[font:theme|PlayfairDisplay-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Poppins'), url([[font:theme|Poppins-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Poppins'), url([[font:theme|Poppins-normal-500.woff]]) format('woff');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Poppins'), url([[font:theme|Poppins-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: local('Roboto'), url([[font:theme|Roboto-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato'), url([[font:theme|Lato-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Lato'), url([[font:theme|Lato-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    font-display: swap;
    src: local('Merriweather'), url([[font:theme|Merriweather-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: local('Merriweather'), url([[font:theme|Merriweather-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat'), url([[font:theme|Montserrat-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat'), url([[font:theme|Montserrat-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oswald'), url([[font:theme|Oswald-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Oswald'), url([[font:theme|Oswald-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Raleway'), url([[font:theme|Raleway-normal-400.woff]]) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Raleway'), url([[font:theme|Raleway-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    font-display: swap;
    src: local('Roboto'), url([[font:theme|Roboto-normal-700.woff]]) format('woff');
}
@font-face {
    font-family: 'Open-Dyslexic';
    font-style: normal;
    font-weight: 400;
    src: local('Open-Dyslexic'), url([[font:theme|open-dyslexic.woff]]) format('woff');
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url([[font:theme|MaterialIcons-normal-400.woff]]) format('woff');
}
.MaterialIcons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
