.row {
    position: relative;
    padding: 30px;
    background: rgba(174, 174, 174, .15);
    &::before {
        content: "lang::row_before";
    }
    [class^="col-"] {
        position: relative;
        background: rgba(126, 123, 123, 0.3);
        padding: 20px;
        border: 2px solid #ff00ff;
        transform: scale(.96);
        &::before {
            content: "lang::row_col_before";
        }
    }
    &::before,
    [class^="col-"]::before {
        position: absolute;
        top: -10px;
        left: 5px;
        background: #ff00ff;
        display: block;
        font-size: 12px;
        color: #555555;
        font-style: italic;
    }
}
.change-to-blocks-never-edit {
    position: relative;
    padding: 30px;
    background: rgba(174, 174, 174, .15);
    &::before {
        content: "lang::row_before";
        position: absolute;
        top: -10px;
        left: 5px;
        background: #ff00ff;
        display: block;
        font-size: 12px;
        color: #555555;
        font-style: italic;
    }
}
