@import "../popular-default/popular";
.popular-section {
    a, h6 a {
        color: #ffffff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
        margin-top: 0;
        font-weight: 700;
    }
}
