#mic-init-access-tool {
    display: block !important;
    button {
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #333;
        background-color: #fff;
        border: 1px solid #d3d5dc;
        border-radius: 8px;

        path {
            fill: $primary;
        }
    }

    a {
        outline: 0;
        display: inline-block;
        color: #333;
        width: 100%;
        line-height: 1;
    }

    a:focus,
    a:hover {
        background-color: #f2f3f7;
        border-color: #aaa;

        span {
            color: #8b0000;
        }
    }

    span.mic-toolbox-images-titles {
        display: none !important;
    }

    * {
        font-size: 14px !important;
        font-family: Arial, Helvetica, sans-serif !important;
        text-decoration: none !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
        line-height: 1 !important;
    }

    .mic-access-tool-general-button {
        position: fixed !important;
        z-index: 99999 !important;
        display: block !important;
        bottom: 127px;
        left: 7px;
        cursor: pointer;
        border-radius: 4px 4px 20px 4px;
        color: #424242;
        padding: 0;

        > div {
            font-size: 0 !important;
            position: relative;
            text-align: center;
            padding: 4px 6px !important;
        }

        > div span {
            display: block;
            margin-bottom: 4px;
            line-height: 1;
            font-weight: 700;
            font-size: 11px !important;
            font-family: Arial, Helvetica, sans-serif !important;
        }

        > div img {
            display: inline-block;
            width: 45px;
            height: 45px;
            min-width: 45px;
            min-height: 45px;
        }

        &.mic-access-tool-general-button-right {
            left: auto;
            right: 7px;
            border-radius: 4px 4px 4px 20px;
        }

        &:focus,
        &:hover {
            color: #8b0000;
            border-color: #8b0000;
            background-color: rgba(139, 139, 139, 0.09);

            span {
                color: #8b0000;
            }
        }
    }

    .mic-access-tool-box {
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        color: #2E3B2D;
        background: #FFFFFF;
        font-family: "Inter", "Roboto", sans-serif;
        border-radius: 10px;
        overflow-y: auto;
        -webkit-box-shadow: 1px 0 4px 0 #777;
        position: fixed;
        width: 370px;
        top: 10px;
        left: 10px;
        z-index: 9999999999999;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .4s;
        transition: opacity .4s;
    }

    .mic-access-tool-box.opened-mic-access-tool {
        visibility: visible;
        opacity: 1;
    }

    .mic-access-tool-box.mic-access-tool-box-right {
        left: auto;
        right: 10px;
    }

    .mic-access-tool-box .mic-access-tool-box-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        text-align: left;
        font-size: 28px !important;
        line-height: 1 !important;
        font-weight: 700;
        padding: 10px;
        color: #2E3B2D;

        button {
            color: #fff;
            background: #2E3B2D;
            border: none;
            font-size: 20px;
            cursor: pointer;
            transition: transform 0.2s;
            border-radius: 53%;
            min-width: 31px;
            width: 31px;
            height: 31px;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .mic-access-tool-box .mic-buttons-block {
        padding: 8px;
        position: relative;
        font-size: 12px !important;
        background: #FEFAF8;
        margin: 4px;
        border-radius: 4px;

        h3 {
            font-size: 24px !important;
            font-weight: bold;
            color: #374151;
        }

        button {
            flex: 1;
            background: #f9fafb;
            border: 1px solid #e5e7eb;
            border-radius: 0.75rem;
            font-size: 13px;
            font-weight: 500;
            color: #374151;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            cursor: pointer;
            transition: all 0.2s;
            width: 100%;
            margin: 5px 3px;
            padding: 8px 14px;

            img {
                width: 20px;
                height: 20px;
            }

            &:hover {
                background: #eef2ff;
                border-color: #6366f1;
                color: #111827;
            }

            &:active {
                background: #e0e7ff;
            }

            #mic-toolbox-fonts-up-enabled {
                position: absolute;
                right: 2px;
                top: 8px;
                color: #e91e63;
            }

            &.vi-enabled {
                border: dashed 1px #8b0000;
                background-color: #fffff3;

                span {
                    color: #8b0000 !important;
                    font-weight: 700;
                }

                &::before {
                    content: "\2713";
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    color: #00e800;
                    font-weight: 700 !important;
                    line-height: 1 !important;
                    font-size: 14px !important;
                }
            }
        }
        &.mic-buttons-block-horizontal {
            margin-top: 0;
            margin-bottom: 0;
        }

        .d-flex {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            width: 100%;

            button {
                width: 32%;
                padding: 5px 0;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: 6px;
                margin-bottom: 0;
            }
        }

        img,
        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 15px !important;
            color: #333;
        }

        img {
            width: 22px;
            height: 22px;
            min-width: 22px;
            min-height: 22px;
            max-width: 22px;
            max-height: 22px;
        }

        #mic-toolbox-disable-buttons-reset-all {
            text-align: center;
            font-weight: 700;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 8px;
            background: #ef4444 !important;

            span {
                color: #ffffff;
            }
        }

        &:last-child {
            padding: 0;
            border-bottom: 0;
            background: none;
        }
    }
}

// Aply Styles.
body.mic-toolbox-zoom-up > :not(#mic-init-access-tool) {
    zoom: 1.4 !important;
    -moz-transform: scale(1.4) !important;
    -moz-transform-origin: 40% 0 !important;
}

body.mic-toolbox-contrast-monochrome > :not(#mic-init-access-tool) {
    -webkit-filter: grayscale(1) !important;
    filter: grayscale(1) !important;
}

body.mic-toolbox-contrast-soft,
body.mic-toolbox-contrast-soft > :not(#mic-init-access-tool),
body.mic-toolbox-contrast-soft > :not(#mic-init-access-tool) :not(img) {
    color: #000 !important;
    background: 0 0 !important;
}

body.mic-toolbox-contrast-hard > :not(#mic-init-access-tool) {
    background-color: #fff !important;
    color: #000 !important;
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
}

body.mic-toolbox-disable-buttons-animations * {
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-animation-name: none !important;
    animation-name: none !important;
}

body.mic-dyslexic-buttons {
    &, div, span, a, p, button, input, strong, em, label,
    ul, ol, li, h1, h2, h3, h4, h5, h6 {
        font-family: 'Open-Dyslexic', sans-serif !important;
    }
}

body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) a:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) button:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) h1:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) h2:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) h3:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) h4:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) h5:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) h6:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) input:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) li:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) p:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) select:focus,
body.mic-toolbox-disable-buttons-keyboard > :not(#mic-init-access-tool) textarea:focus {
    outline: 0 !important;
    background: #ff0 !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

body.mic-toolbox-fonts-simple :not(i):not(.fa) {
    font-family: Arial, Helvetica, sans-serif !important;
}

body.mic-toolbox-content-links a {
    text-decoration: underline !important;
}

body.mic-toolbox-content-headers h1,
body.mic-toolbox-content-headers h2,
body.mic-toolbox-content-headers h3,
body.mic-toolbox-content-headers h4,
body.mic-toolbox-content-headers h5,
body.mic-toolbox-content-headers h6 {
    text-decoration: underline !important;
}

body.mic-toolbox-cursor-big-white {
    cursor: url([[pix:theme_degrade|acctoolbar/pointer]]),
    url(https://raw.githubusercontent.com/mickidum/acc_toolbar/master/app/cursors/w2.cur), auto !important;
}

body.mic-toolbox-cursor-big-white a,
body.mic-toolbox-cursor-big-white button {
    cursor: url([[pix:theme_degrade|acctoolbar/hand]]),
    url(https://raw.githubusercontent.com/mickidum/acc_toolbar/master/app/cursors/wh2.cur), auto !important;
}

body.mic-toolbox-cursor-big-black {
    cursor: url([[pix:theme_degrade|acctoolbar/pointer-hover]]),
    url(https://raw.githubusercontent.com/mickidum/acc_toolbar/master/app/cursors/b2.cur), auto !important;
}

body.mic-toolbox-cursor-big-black a,
body.mic-toolbox-cursor-big-black button {
    cursor: url([[pix:theme_degrade|acctoolbar/hand-hover]]),
    url(https://raw.githubusercontent.com/mickidum/acc_toolbar/master/app/cursors/bh2.cur), auto !important;
}

body.mic-toolbox-content-images span.mic-toolbox-images-titles {
    display: block !important;
    font-size: 20px !important;
    max-width: 180px !important;
    line-height: 1 !important;
    margin: 0 auto !important;
    font-weight: 400 !important;
    text-align: center !important;
    background: #ffffe0 !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 10px !important;
    border: solid 1px #8b0000 !important;
    border-radius: 0 !important;
}
