:root {
    --bs-transparent: #00000000;
    
    --bs-white: #fff;
    --bs-white-rgb: 255, 255, 255;
    --bs-gray-100: #f8f9fa;
    --bs-gray-100-rgb: 248, 249, 250;
    --bs-gray-200: #e9ecef;
    --bs-gray-200-rgb: 233, 236, 239;
    --bs-gray-300: #dee2e6;
    --bs-gray-300-rgb: 222, 226, 230;
    --bs-gray-400: #ced4da;
    --bs-gray-400-rgb: 206, 212, 218;
    --bs-gray-500: #adb5bd;
    --bs-gray-500-rgb: 173, 181, 189;
    --bs-gray-600: #6c757d;
    --bs-gray-600-rgb: 108, 117, 125;
    --bs-gray-700: #495057;
    --bs-gray-700-rgb: 73, 80, 87;
    --bs-gray-800: #393e4f;
    --bs-gray-800-rgb: 57, 62, 79;
    --bs-gray-900: #2e3134;
    --bs-gray-900-rgb: 46, 49, 52;
    --bs-gray-1000: #1e1e25;
    --bs-gray-1000-rgb: 30, 30, 37;
    --bs-gray-1100: #0e0e11;
    --bs-gray-1100-rgb: 14, 14, 17;
    --bs-black: #000;
    --bs-black-rgb: 0, 0, 0;
    
    --bs-nav-drawer: #e8eaed;
    --bs-nav-drawer-rgb: 232, 234, 237;
    --bs-link-color: #98b6d9;
    --bs-link-color-rgb: 152, 182, 217;
    --bs-link-hover-color: #aacbf2;
    --bs-link-hover-color-rgb: 170, 203, 242;
    --bs-link-focus-color: #b3c0e8;
    --bs-link-focus-color-rgb: 179, 192, 232;
    --bs-text-color: #cbd0d4;
    --bs-text-color-rgb: 203, 208, 212;
}

//@media (prefers-color-scheme: dark) {
//    [data-bs-theme=auto] {
//        body, html {
//            color-scheme: dark;
//            --bs-body-color: #dee2e6;
//            --bs-body-color-rgb: rgba(--bs-gray-300-rgb, 222, 226, 230);
//            --bs-gray-1100: #212529;
//            --bs-gray-1100-rgb: 33, 37, 41;
//            --bs-emphasis-color: #fff;
//            --bs-emphasis-color-rgb: 255, 255, 255;
//            --bs-secondary-color: rgba(var(--bs-gray-300-rgb, 222, 226, 230), 0.75);
//            --bs-secondary-color-rgb: rgba(--bs-gray-300-rgb, 222, 226, 230);
//            --bs-secondary-bg: #343a40;
//            --bs-secondary-bg-rgb: 52, 58, 64;
//            --bs-tertiary-color: rgba(var(--bs-gray-300-rgb, 222, 226, 230), 0.5);
//            --bs-tertiary-color-rgb: rgba(--bs-gray-300-rgb, 222, 226, 230);
//            --bs-tertiary-bg: #2b3035;
//            --bs-tertiary-bg-rgb: 43, 48, 53;
//            --bs-primary-text-emphasis: #6ea8fe;
//            --bs-secondary-text-emphasis: #a7acb1;
//            --bs-success-text-emphasis: #75b798;
//            --bs-info-text-emphasis: #6edff6;
//            --bs-warning-text-emphasis: #ffda6a;
//            --bs-danger-text-emphasis: #ea868f;
//            --bs-light-text-emphasis: #f8f9fa;
//            --bs-dark-text-emphasis: #dee2e6;
//            --bs-primary-bg-subtle: #031633;
//            --bs-secondary-bg-subtle: #161719;
//            --bs-success-bg-subtle: #051b11;
//            --bs-info-bg-subtle: #032830;
//            --bs-warning-bg-subtle: #332701;
//            --bs-danger-bg-subtle: #2c0b0e;
//            --bs-light-bg-subtle: #343a40;
//            --bs-dark-bg-subtle: #1a1d20;
//            --bs-primary-border-subtle: #084298;
//            --bs-secondary-border-subtle: #41464b;
//            --bs-success-border-subtle: #0f5132;
//            --bs-info-border-subtle: #087990;
//            --bs-warning-border-subtle: #997404;
//            --bs-danger-border-subtle: #842029;
//            --bs-light-border-subtle: #495057;
//            --bs-dark-border-subtle: #343a40;
//            --bs-heading-color: inherit;
//            --bs-link-color: #6ea8fe;
//            --bs-link-hover-color: #8bb9fe;
//            --bs-link-color-rgb: 110, 168, 254;
//            --bs-link-hover-color-rgb: 139, 185, 254;
//            --bs-code-color: #e685b5;
//            --bs-highlight-color: #dee2e6;
//            --bs-highlight-bg: #664d03;
//            --bs-border-color: #495057;
//            --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
//            --bs-form-valid-color: #75b798;
//            --bs-form-valid-border-color: #75b798;
//            --bs-form-invalid-color: #ea868f;
//            --bs-form-invalid-border-color: #ea868f;
//        }
//    }
//}
[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #dee2e6;
    --bs-body-color-rgb: rgba(--bs-gray-300-rgb, 222, 226, 230);
    --bs-gray-1100: #212529;
    --bs-gray-1100-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: rgba(var(--bs-gray-300-rgb, 222, 226, 230), 0.75);
    --bs-secondary-color-rgb: rgba(--bs-gray-300-rgb, 222, 226, 230);
    --bs-secondary-bg: #343a40;
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: rgba(var(--bs-gray-300-rgb, 222, 226, 230), 0.5);
    --bs-tertiary-color-rgb: rgba(--bs-gray-300-rgb, 222, 226, 230);
    --bs-tertiary-bg: #2b3035;
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-primary-text-emphasis: #6ea8fe;
    --bs-secondary-text-emphasis: #a7acb1;
    --bs-success-text-emphasis: #75b798;
    --bs-info-text-emphasis: #6edff6;
    --bs-warning-text-emphasis: #ffda6a;
    --bs-danger-text-emphasis: #ea868f;
    --bs-light-text-emphasis: #f8f9fa;
    --bs-dark-text-emphasis: #dee2e6;
    --bs-primary-bg-subtle: #031633;
    --bs-secondary-bg-subtle: #161719;
    --bs-success-bg-subtle: #051b11;
    --bs-info-bg-subtle: #032830;
    --bs-warning-bg-subtle: #332701;
    --bs-danger-bg-subtle: #2c0b0e;
    --bs-light-bg-subtle: #343a40;
    --bs-dark-bg-subtle: #1a1d20;
    --bs-primary-border-subtle: #084298;
    --bs-secondary-border-subtle: #41464b;
    --bs-success-border-subtle: #0f5132;
    --bs-info-border-subtle: #087990;
    --bs-warning-border-subtle: #997404;
    --bs-danger-border-subtle: #842029;
    --bs-light-border-subtle: #495057;
    --bs-dark-border-subtle: #343a40;
    --bs-heading-color: inherit;
    --bs-link-color: #6ea8fe;
    --bs-link-hover-color: #8bb9fe;
    --bs-link-color-rgb: 110, 168, 254;
    --bs-link-hover-color-rgb: 139, 185, 254;
    --bs-code-color: #e685b5;
    --bs-highlight-color: #dee2e6;
    --bs-highlight-bg: #664d03;
    --bs-border-color: #495057;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-form-valid-color: #75b798;
    --bs-form-valid-border-color: #75b798;
    --bs-form-invalid-color: #ea868f;
    --bs-form-invalid-border-color: #ea868f;
}