
[data-bs-theme=dark] {
    .moremenu {
        .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
           // background: #f8f9fa1c !important;
        }
    }
}
///////////////////
// heme-select-item
.degrade-theme-select-item {
    float: left;
    .preview {
        width: 50px;
        height: 50px;
        margin: 1.5px;
        border-radius: 6px;
        cursor: pointer;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
    }
}
.degrade-seletor-de-theme {
    display: flex;
    align-items: center;
    background: #e6e6e6;
    width: fit-content;
    border-radius: 4px;
    margin-bottom: 5px;
    span {
        display: inline-block;
        padding: 2px;
        margin: 3px;
        border-radius: 4px;
    }
}
// theme-default
.degrade-theme-default1 #header,
.degrade-theme-default1 #nav-drawer .list-group-item.active > div,
.degrade-theme-default1 #nav-drawer .list-group-item.active:hover,
.degrade-theme-default1 #footer .footer-main,
.degrade-theme-select-default1 .preview {
    background: #f55ff2;
    background: linear-gradient(45deg, #f54266, #3858f9);
}
.degrade-theme-default1 {
    #site-news-forum--,
    .frontpage-course-list {
        background: #f55ff23d;
        background: linear-gradient(45deg, #f542663d, #3858f93d);
        .btn-primary {
            background: #f54266;
        }
    }
    &[data-templates=login] {
        background-color: #c961f7;
    }
}
///////////////////
// theme-default1
.degrade-theme-default2 #header,
.degrade-theme-default2 #nav-drawer .list-group-item.active > div,
.degrade-theme-default2 #nav-drawer .list-group-item.active:hover,
.degrade-theme-default2 #footer .footer-main,
.degrade-theme-select-default2 .preview {
    background: #fd81b5;
    background: linear-gradient(45deg, #fd81b5, #c961f7, #8089ff);
}
.degrade-theme-default2 {
    #site-news-forum,
    .frontpage-course-list {
        background: #fd81b53d;
        background: linear-gradient(45deg, #fd81b53d, #c961f73d, #8089ff3d);
        .btn-primary {
            background: #c961f7;
        }
    }
    .degrade-theme-default2.loginbody:before {
        background-image: url([[pix:theme|background/C961F7]]);
    }
    &[data-templates=login] {
        background-color: #c961f7;
    }
}
///////////////////
// theme-brasil
.degrade-theme-brasil1 #header,
.degrade-theme-brasil1 #nav-drawer .list-group-item.active > div,
.degrade-theme-brasil1 #nav-drawer .list-group-item.active:hover,
.degrade-theme-brasil1 #footer .footer-main,
.degrade-theme-select-brasil1 .preview {
    background: #00c3b0;
    background: linear-gradient(30deg, #ffe150, #19934a);
}
.degrade-theme-brasil1 {
    #site-news-forum,
    .frontpage-course-list {
        background: #00c3b03d;
        background: linear-gradient(30deg, #ffe150, #19934a);
        .btn-primary {
            background: #00c3b0;
        }
    }
    &[data-templates=login] {
        background-color: #00c3b0;
    }
}
///////////////////
// theme-green1
.degrade-theme-green1 #header,
.degrade-theme-green1 #nav-drawer .list-group-item.active > div,
.degrade-theme-green1 #nav-drawer .list-group-item.active:hover,
.degrade-theme-green1 #footer .footer-main,
.degrade-theme-select-green1 .preview {
    background: #00c3b0;
    background: linear-gradient(30deg, #00c3b0, #339625);
}
.degrade-theme-green1 {
    #site-news-forum,
    .frontpage-course-list {
        background: #00c3b03d;
        background: linear-gradient(30deg, #00c3b03d, #3396253d);
        .btn-primary {
            background: #00c3b0;
        }
    }
    &[data-templates=login] {
        background-color: #00c3b0;
    }
}
///////////////////
// theme-green2
.degrade-theme-green2 #header,
.degrade-theme-green2 #nav-drawer .list-group-item.active > div,
.degrade-theme-green2 #nav-drawer .list-group-item.active:hover,
.degrade-theme-green2 #footer .footer-main,
.degrade-theme-select-green2 .preview {
    background: #30e8bf;
    background: linear-gradient(-45deg, #30e8bf, #ff8235);
}
.degrade-theme-green2 {
    #site-news-forum,
    .frontpage-course-list {
        background: #30e8bf3d;
        background: linear-gradient(-45deg, #30e8bf3d, #ff82353d);
        .btn-primary {
            background: #30e8bf;
        }
    }
    &[data-templates=login] {
        background-color: #30e8bf;
    }
}
///////////////////
// theme-green3
.degrade-theme-green3 #header,
.degrade-theme-green3 #nav-drawer .list-group-item.active > div,
.degrade-theme-green3 #nav-drawer .list-group-item.active:hover,
.degrade-theme-green3 #footer .footer-main,
.degrade-theme-select-green3 .preview {
    background: #00bf8f;
    background: linear-gradient(-45deg, #00bf8f, #001510);
}
.degrade-theme-green3 {
    #site-news-forum,
    .frontpage-course-list {
        background: #00bf8f3d;
        background: linear-gradient(-45deg, #00bf8f3d, #0015103d);
        .btn-primary {
            background: #00bf8f;
        }
    }
    &[data-templates=login] {
        background-color: #00bf8f;
    }
}
///////////////////
// theme-blue1
.degrade-theme-blue1 #header,
.degrade-theme-blue1 #nav-drawer .list-group-item.active > div,
.degrade-theme-blue1 #nav-drawer .list-group-item.active:hover,
.degrade-theme-blue1 #footer .footer-main,
.degrade-theme-select-blue1 .preview {
    background: #007bc3;
    background: linear-gradient(30deg, #007bc3, #2eb8b7);
}
.degrade-theme-blue1 {
    #site-news-forum,
    .frontpage-course-list {
        background: #007bc33d;
        background: linear-gradient(30deg, #007bc33d, #2eb8b73d);
        .btn-primary {
            background: #007bc3;
        }
    }
    &[data-templates=login] {
        background-color: #007bc3;
    }
}
///////////////////
// theme-blue2
.degrade-theme-blue2 #header,
.degrade-theme-blue2 #nav-drawer .list-group-item.active > div,
.degrade-theme-blue2 #nav-drawer .list-group-item.active:hover,
.degrade-theme-blue2 #footer .footer-main,
.degrade-theme-select-blue2 .preview {
    background: #000428;
    background: linear-gradient(-45deg, #000428, #0074da);
}
.degrade-theme-blue2 {
    #site-news-forum,
    .frontpage-course-list {
        background: #0004283d;
        background: linear-gradient(-45deg, #0004283d, #0074da3d);
        .btn-primary {
            background: #000428;
        }
    }
    &[data-templates=login] {
        background-color: #000428;
    }
}
///////////////////
// theme-blue3
.degrade-theme-blue3 #header,
.degrade-theme-blue3 #nav-drawer .list-group-item.active > div,
.degrade-theme-blue3 #nav-drawer .list-group-item.active:hover,
.degrade-theme-blue3 #footer .footer-main,
.degrade-theme-select-blue3 .preview {
    background: #314755;
    background: linear-gradient(30deg, #314755, #26a0da);
}
.degrade-theme-blue3 {
    #site-news-forum,
    .frontpage-course-list {
        background: #3147553d;
        background: linear-gradient(30deg, #3147553d, #26a0da3d);
        .btn-primary {
            background: #314755;
        }
    }
    &[data-templates=login] {
        background-color: #314755;
    }
}
///////////////////
// theme-blue4
.degrade-theme-blue4 #header,
.degrade-theme-blue4 #nav-drawer .list-group-item.active > div,
.degrade-theme-blue4 #nav-drawer .list-group-item.active:hover,
.degrade-theme-blue4 #footer .footer-main,
.degrade-theme-select-blue4 .preview {
    background: #7303c0;
    background: linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
}
.degrade-theme-blue4 {
    #site-news-forum,
    .frontpage-course-list {
        background: #03001e3d;
        background: linear-gradient(30deg, #03001e3d, #7303c03d, #ec38bc3d);
        .btn-primary {
            background: #7303c0;
        }
    }
    &[data-templates=login] {
        background-color: #7303c0;
    }
}
///////////////////
// theme-blue5
.degrade-theme-blue5 #header,
.degrade-theme-blue5 #nav-drawer .list-group-item.active > div,
.degrade-theme-blue5 #nav-drawer .list-group-item.active:hover,
.degrade-theme-blue5 #footer .footer-main,
.degrade-theme-select-blue5 .preview {
    background: #00f0ff;
    background: linear-gradient(30deg, #00f0ff, #ff00f6);
}
.degrade-theme-blue5 {
    #site-news-forum,
    .frontpage-course-list {
        background: #00f0ff3d;
        background: linear-gradient(30deg, #00f0ff3d, #ff00f63d);
        .btn-primary {
            background: #00f0ff;
        }
    }
    &[data-templates=login] {
        background-color: #00f0ff;
    }
}
///////////////////
// theme-blue6
.degrade-theme-blue6 #header,
.degrade-theme-blue6 #nav-drawer .list-group-item.active > div,
.degrade-theme-blue6 #nav-drawer .list-group-item.active:hover,
.degrade-theme-blue6 #footer .footer-main,
.degrade-theme-select-blue6 .preview {
    background: #83a4d4;
    background: linear-gradient(30deg, #83a4d4, #b6fbff);
}
.degrade-theme-blue6 {
    #site-news-forum,
    .frontpage-course-list {
        background: #83a4d43d;
        background: linear-gradient(30deg, #83a4d43d, #b6fbff3d);
        .btn-primary {
            background: #83a4d4;
        }
    }
    &[data-templates=login] {
        background-color: #83a4d4;
    }
}
///////////////////
// theme-red1
.degrade-theme-red1 #header,
.degrade-theme-red1 #nav-drawer .list-group-item.active > div,
.degrade-theme-red1 #nav-drawer .list-group-item.active:hover,
.degrade-theme-red1 #footer .footer-main,
.degrade-theme-select-red1 .preview {
    background: #c10f41;
    background: linear-gradient(30deg, #c10f41, #233b88);
}
.degrade-theme-red1 {
    #site-news-forum,
    .frontpage-course-list {
        background: #c10f413d;
        background: linear-gradient(30deg, #c10f413d, #233b883d);
        .btn-primary {
            background: #c10f41;
        }
    }
    &[data-templates=login] {
        background-color: #c10f41;
    }
}
///////////////////
// theme-red2
.degrade-theme-red2 #header,
.degrade-theme-red2 #nav-drawer .list-group-item.active > div,
.degrade-theme-red2 #nav-drawer .list-group-item.active:hover,
.degrade-theme-red2 #footer .footer-main,
.degrade-theme-select-red2 .preview {
    background: #b21f1f;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
}
.degrade-theme-red2 {
    #site-news-forum,
    .frontpage-course-list {
        background: #1a2a6c3d;
        background: linear-gradient(135deg, #1a2a6c3d, #b21f1f3d, #fdbb2d3d);
        .btn-primary {
            background: #b21f1f;
        }
    }
    &[data-templates=login] {
        background-color: #b21f1f;
    }
}
///////////////////
// theme-red3
.degrade-theme-red3 #header,
.degrade-theme-red3 #nav-drawer .list-group-item.active > div,
.degrade-theme-red3 #nav-drawer .list-group-item.active:hover,
.degrade-theme-red3 #footer .footer-main,
.degrade-theme-select-red3 .preview {
    background: #ef629f;
    background: linear-gradient(-45deg, #ceac7a, #ef629f);
}
.degrade-theme-red3 {
    #site-news-forum,
    .frontpage-course-list {
        background: #ceac7a3d;
        background: linear-gradient(-45deg, #ceac7a3d, #ef629f3d);
        .btn-primary {
            background: #ef629f;
        }
    }
    &[data-templates=login] {
        background-color: #ef629f;
    }
}
///////////////////
// theme-red4
.degrade-theme-red4 #header,
.degrade-theme-red4 #nav-drawer .list-group-item.active > div,
.degrade-theme-red4 #nav-drawer .list-group-item.active:hover,
.degrade-theme-red4 #footer .footer-main,
.degrade-theme-select-red4 .preview {
    background: #e65c00;
    background: linear-gradient(30deg, #e65c00, #f9d423);
}
.degrade-theme-red4 {
    #site-news-forum,
    .frontpage-course-list {
        background: #e65c003d;
        background: linear-gradient(30deg, #e65c003d, #f9d4233d);
        .btn-primary {
            background: #e65c00;
        }
    }
    &[data-templates=login] {
        background-color: #e65c00;
    }
}
///////////////////
// theme-red5
.degrade-theme-red5 #header,
.degrade-theme-red5 #nav-drawer .list-group-item.active > div,
.degrade-theme-red5 #nav-drawer .list-group-item.active:hover,
.degrade-theme-red5 #footer .footer-main,
.degrade-theme-select-red5 .preview {
    background: #d12924;
    background: linear-gradient(30deg, #d12924, #60090c);
}
.degrade-theme-red5 {
    #site-news-forum,
    .frontpage-course-list {
        background: #d129243d;
        background: linear-gradient(30deg, #d129243d, #60090c3d);
        .btn-primary {
            background: #d12924;
        }
    }
    &[data-templates=login] {
        background-color: #d12924;
    }
}
///////////////////
// theme-red6
.degrade-theme-red6 #header,
.degrade-theme-red6 #nav-drawer .list-group-item.active > div,
.degrade-theme-red6 #nav-drawer .list-group-item.active:hover,
.degrade-theme-red6 #footer .footer-main,
.degrade-theme-select-red6 .preview {
    background: #ff512f;
    background: linear-gradient(30deg, #ff512f, #dd2476);
}
.degrade-theme-red6 {
    #site-news-forum,
    .frontpage-course-list {
        background: #ff512f3d;
        background: linear-gradient(30deg, #ff512f3d, #dd24763d);
        .btn-primary {
            background: #ff512f;
        }
    }
    &[data-templates=login] {
        background-color: #ff512f;
    }
}
///////////////////
// theme-red7
.degrade-theme-red7 #header,
.degrade-theme-red7 #nav-drawer .list-group-item.active > div,
.degrade-theme-red7 #nav-drawer .list-group-item.active:hover,
.degrade-theme-red7 #footer .footer-main,
.degrade-theme-select-red7 .preview {
    background: #fc354c;
    background: linear-gradient(30deg, #fc354c, #0abfbc);
}
.degrade-theme-red7 {
    #site-news-forum,
    .frontpage-course-list {
        background: #fc354c3d;
        background: linear-gradient(30deg, #fc354c3d, #0abfbc3d);
        .btn-primary {
            background: #fc354c;
        }
    }
    &[data-templates=login] {
        background-color: #fc354c;
    }
}
///////////////////
// theme-red8
.degrade-theme-red8 #header,
.degrade-theme-red8 #nav-drawer .list-group-item.active > div,
.degrade-theme-red8 #nav-drawer .list-group-item.active:hover,
.degrade-theme-red8 #footer .footer-main,
.degrade-theme-select-red8 .preview {
    background: #86377b;
    background: linear-gradient(30deg, #86377b, #27273c);
}
.degrade-theme-red8 {
    #site-news-forum,
    .frontpage-course-list {
        background: #86377b3d;
        background: linear-gradient(30deg, #86377b3d, #27273c3d);
        .btn-primary {
            background: #86377b;
        }
    }
    &[data-templates=login] {
        background-color: #86377b;
    }
}
///////////////////
// theme-black1
.degrade-theme-black1 #header,
.degrade-theme-black1 #nav-drawer .list-group-item.active > div,
.degrade-theme-black1 #nav-drawer .list-group-item.active:hover,
.degrade-theme-black1 #footer .footer-main,
.degrade-theme-select-black1 .preview {
    background: #4c0001;
    background: linear-gradient(135deg, #070000, #4c0001, #070000);
}
.degrade-theme-black1 {
    #site-news-forum,
    .frontpage-course-list {
        background: #0700003d;
        background: linear-gradient(135deg, #0700003d, #4c00013d, #0700003d);
        .btn-primary {
            background: #4c0001;
        }
    }
    &[data-templates=login] {
        background-color: #4c0001;
    }
}
