#header {
    &, * {
        transition: all 0.2s ease-out;
    }
    &.fixed-top,
    &.ever-fixed-top {
        background: var(--topscroll_background) !important;
        padding: 0;
        top: 0;
        position: fixed;
        border: none;
        height: initial;
        z-index: 99;
        .nav-link {
            white-space: initial;
            border: none;
        }
        .active {
            background: transparent;
        }
        #usernavigation {
            padding: 0;
        }
        .dropdown .dropdown-menu {
            max-height: calc(100vh - 60px);
            overflow-y: initial !important;
        }
    }
    &.ever-fixed-top {
        .custom-switch .custom-control-label:after {
            background: var(--topscroll_text) !important;
        }
    }
}
#header.ever-fixed-top .header-menubar .navbar-nav .simplesearchform .btn-open,
#header.ever-fixed-top .popover-region .popover-region-toggle i.icon,
#header.ever-fixed-top .header-menubar .navbar-nav .usermenu .dropdown a#user-menu-toggle,
#header.ever-fixed-top .header-menubar .navbar-nav .editmode-switch-form .input-group label,
#header.ever-fixed-top .usermenu .moodle-actionmenu a.dropdown-toggle,
.navbar-light.ever-fixed-top .navbar-nav .show > .nav-link,
.navbar-light.ever-fixed-top .navbar-nav .active > .nav-link,
.navbar-light.ever-fixed-top .navbar-nav .nav-link.show,
.navbar-light.ever-fixed-top .navbar-nav .nav-link.active,
#header.ever-fixed-top .header-logo a.navbar-brand img,
#header.ever-fixed-top .header-logo a.navbar-brand span,
#header.ever-fixed-top .header-menubar .primary-navigation ul.navbar-nav > li > a,
.header-menubar .navbar-toggler .navbar-toggler-icon:before {
    color: var(--topscroll_text) !important;
}
