#page-footer .footer-content-debugging {
    text-align: center;
    .purgecaches {
        padding: 5px 0;
        margin-right: 10px;
        display: inline-block;
    }
}
#footer {
    .footer-main {
        background: rgb(var(--color_secondary));
        padding: 36px 0 0;
        h4 {
            color: #fff;
        }
    }
    .footer-desc {
        padding: 0 0 20px;
        .logo-footer {
            padding: 0 0 15px;
            a {
                .logo-color {
                    display: none;
                }
                img {
                    max-width: 200px;
                    max-height: 100px;
                }
                img,
                span {
                    font-size: 26px;
                    color: #fff;
                }
                @media (max-width: 767px) {
                    margin: 0 auto;
                }
            }
        }
        p {
            font-size: 16px;
            color: #fff;
            line-height: 22px;
        }
        .readmore {
            margin: 0;
            a {
                color: #fff;
            }
        }
    }
    .settings-edit {
        img {
            filter: invert(100%);
            width: 20px;
            height: 20px;
        }
    }
    .footer-nav {
        margin-bottom: 50px;
    }
    .footer-nav > ul {
        list-style: none;
        padding: 11px 0 0;
        margin: 0;
    }
    .footer-nav > ul > li {
        padding: 5px 0;
    }
    .footer-nav > ul > li a {
        font-size: 16px;
        color: #fff;
        line-height: 23px;
        display: inline-block;
    }
    .social-media {
        margin-bottom: 50px;
    }
    .social-media > ul {
        list-style: none;
        padding: 11px 0 0;
        margin: 0;
    }
    .social-media > ul > li {
        padding: 5px 0;
    }
    .social-media > ul > li > a {
        font-size: 16px;
        color: #fff;
        line-height: 36px;
        display: inline-block;
    }
    .social-media > ul > li > a:hover {
        color: rgba(var(--color_buttons), .26);
        text-decoration: none;
    }
    .social-media > ul > li > a:hover .media-icon {
        color: #fff;
        background: rgb(var(--color_buttons));
    }
    .social-media > ul > li > a:focus {
        color: rgb(var(--color_buttons));
        text-decoration: none;
    }
    .social-media > ul > li > a:focus .media-icon {
        color: #fff;
        background: rgb(var(--color_buttons));
    }
    .social-media > ul > li > a > span {
        display: inline-block;
    }
    .social-media > ul > li > a > .media-icon {
        width: 36px;
        height: 36px;
        font-size: 17px;
        text-align: center;
        background: #fff;
        border-radius: 18px;
        margin-right: 10px;
    }
    .social-media > ul > li > a > .media-icon > i {
        line-height: 36px;
    }
    .social-media > ul > .smedia-01 > a > .media-icon {
        color: rgb(var(--color_blue_86));
    }
    .social-media > ul > .smedia-02 > a > .media-icon {
        color: rgb(var(--color_blue_17));
    }
    .social-media > ul > .smedia-03 > a > .media-icon {
        color: rgb(var(--color_red_43));
    }
    .social-media > ul > .smedia-04 > a > .media-icon {
        color: rgb(var(--color_red_66));
    }
    .footer-contact {
        margin-bottom: 50px;
    }
    .footer-contact h4 {
        margin-bottom: 19px;
    }
    .footer-contact p {
        color: #fff;
        line-height: 24px;
        margin: 10px 0 0;
    }
    .footer-contact p > a {
        color: #fff;
        text-decoration: underline;
    }
    .footer-contact p > a:hover {
        color: rgb(var(--color_buttons));
        text-decoration: none;
    }
    .footer-contact p > a:focus {
        color: rgb(var(--color_buttons));
        text-decoration: none;
    }
    .footer-contact p i {
        margin-right: 4px;
    }
    .footer-foot {
        text-align: center;
        padding: 20px 0 0;
        p {
            color: #fff;
            text-align: center;
            margin: 0;
            a {
                color: #fff;
                text-decoration: underline;
                &:hover {
                    color: rgb(var(--color_buttons));
                }
            }
        }
    }
    @media (min-width: 768px) {
        .social-media > ul > li > a {
            position: relative;
        }
    }
    @media (max-width: 767px) {
        .footer-main {
            padding-right: 20px;
            padding-left: 20px;
            text-align: center;
        }
        .footer-foot {
            padding-right: 20px;
            padding-left: 20px;
        }
        .social-media > ul > li {
            display: inline-block;
            + li {
                margin-left: 5px;
            }
            > a .media-name {
                display: none;
            }
        }
    }
}
.footer-bottom p {
    text-align: center;
}