#page-footer .footer-content-debugging {
    text-align: center;
    .purgecaches {
        padding: 5px 0;
        margin-right: 10px;
        display: inline-block;
    }
}
#footer {
    position: relative;
    .settings-edit {
        img {
            filter: none;
            width: 20px;
            height: 20px;
        }
    }
    .settings-edit-html {
        position: absolute;
        bottom: 20px;
    }
    @import "footer-all";
}
.footer-bottom p {
    text-align: center;
}