#page-site-index .frontpage-simplesearchform-search {
    position: relative;
    z-index: 1;
    background: #d6d6d6;
    padding: 37px 90px;
    width: 100%;
    h3 {
        font-size: 36px;
        margin-bottom: 25px;
        display: block !important;
    }
    p {
        margin-bottom: 15px;
        line-height: 1.8;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
    }
    input {
        display: block;
        width: 100%;
        height: 55px;
        border: 1px solid #fff;
        box-shadow: 0 4px 10px rgba(34, 86, 102, .03);
        border-radius: 0;
        transition: .6s;
        color: #869199;
        font-size: 15px;
        outline: 0;
        padding: 15px 20px;
    }
    .search-button {
        max-width: 100% !important;
        width: 380px;
    }
    .search-icon i {
        font-size: 26px;
        margin-top: 4px;
        margin-right: 3px;
    }
}