.pagelayout-frontpage {
    hr {
        margin: 80px auto 60px;
        max-width: 260px;
    }
    h2.title-block {
        margin: 20px auto;
    }
    fieldset {
        font-family: sans-serif;
        border-radius: 5px;
        padding: 15px;
        border: 2px solid #ffffff38;
        margin: 0 27px;
        legend {
            float: none;
            width: auto;
            padding: 5px 10px;
            font-size: 24px;
            border-radius: 5px;
            margin: 0 0 0 20px;
        }
    }
    
    .box-page {
        background: #ffffff14;
        box-shadow: 0 10px 50px 0 rgba(26, 46, 85, 0.1);
        border-radius: 5px;
        padding: 20px;
        .thumbnail {
            position: relative;
            transition: 0.3s;
            a {
                span {
                    display: block;
                    overflow: hidden;
                    border-radius: 5px 5px 0 0;
                    transition: 0.4s;
                    width: 100%;
                    padding-top: 45%;
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: cover;
                }
            }
        }
        &:hover .thumbnail a img {
            transform: scale(1.1);
        }
        .content {
            .title {
                a {
                    font-weight: 700;
                    margin-bottom: 30px;
                }
            }
            .price {
                .current-price {
                    font-weight: 700;
                    color: #6b7386;
                }
                .off-price {
                    text-decoration: line-through;
                    opacity: .4;
                    margin-left: 7px;
                }
            }
        }
    }
}
