
.login-wrapper {
    height: 100%;
    margin-top: 0 !important;
    .login-logo-area {
        position: fixed;
        top: 50px;
        left: 50px;
        display: inline-block;
        z-index: 1000;
        img {
            width: 100px;
            &.logo-write {
                display: none;
            }
        }
    }
    .login-area {
        width: 100%;
        height: 100%;
        .login-background-area {
            position: fixed;
            width: 50%;
            top: 0;
            height: 100%;
            display: inline-block;
            overflow: hidden;
            padding: 60px;
            text-align: center;
            background-position: center;
            background-size: cover;
            @media (max-width: 992px) {
                display: none;
            }
            .login-color-area {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.33);
                z-index: -1;
                padding: 143px 54px 20px;
                > div {
                    color: #fff;
                    line-height: 1.2;
                    * {
                        color: #fff;
                    }
                }
            }
        }
        .login-form-area {
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            height: 100%;
            @media (max-width: 992px) {
                left: 0;
                width: 100%;
            }
            .form-content {
                position: relative;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 60px;
                min-height: 100%;
                .form-items {
                    text-align: left;
                    display: inline-block;
                    width: 100%;
                    transition: all 0.4s ease;
                    #loginlogo {
                        #logoimage {
                            display: none;
                        }
                        h1 {
                            width: auto;
                            height: auto;
                            clip: initial;
                            position: initial;
                            white-space: initial;
                            color: rgb(var(--color_primary));
                        }
                    }
                    #username,
                    #password {
                        border: 0;
                        background-color: #fff;
                        color: #626262;
                        width: 100%;
                        max-width: 370px;
                        height: auto;
                        padding: 9px 20px;
                        text-align: left;
                        outline: 0;
                        border-radius: 6px;
                        font-size: 18px;
                        font-weight: 300;
                        transition: all 0.3s ease;
                        margin-bottom: 14px;
                    }
                }
            }
            fieldset {
                border: none;
            }
            [type=button] {
                display: none;
            }
            legend {
                font-size: 28px;
            }
            .login-instructions {
                margin-top: 60px;
            }
            .generalbox,
            .login-instructions,
            .fdescription,
            label {
                color: #757575;
                text-align: left;
                font-size: 18px;
                font-weight: 300;
                line-height: 20px;
            }
            a {
                color: rgb(var(--color_buttons));
            }
            label {
                margin-bottom: 0 !important;
            }
            h1, h2, h3, legend {
                //color: #fff;
                font-weight: 900;
                margin-bottom: 10px;
                line-height: 1.2;
            }
            #id_searchbyusernamecontainer,
            #id_searchbyemailcontainer {
                .row {
                    flex-direction: column;
                    > div {
                        width: 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
        .dropdown-item {
            &:hover {
                background: #d9d9d9 !important;
            }
        }
    }
    &.login_theme--login_theme_login,
    &.login_theme--theme_login_branco {
        .login-area {
            .login-background-area {
                display: none;
            }
            .login-form-area {
                position: initial;
                width: 100%;
                .form-content {
                    width: 100%;
                    .form-items {
                        margin: 0 auto;
                        max-width: 600px;
                        background: #fff;
                        padding: 12px;
                        border-radius: 11px;
                    }
                }
            }
        }
    }
    &.login_theme--theme_login_branco {
        background-color: #fff;
        .login-area {
            .login-form-area {
                .form-content {
                    .form-items {
                        background: #fff;
                        padding: 16px 27px;
                        border-radius: 10px;
                        #username,
                        #password {
                            background: #cccaca;
                            color: #3e3e3e;
                            max-width: 100%;
                        }
                    }
                }
            }
            h1, h2, h3, legend {
                color: #3a3a3a;
            }
            .generalbox,
            .login-instructions,
            .fdescription,
            label,
            a {
                color: rgb(var(--color_buttons));
            }
        }
    }

    &.login_theme--login_theme_block {
        .login-logo-area {
            position: initial;
            padding-top: 35px;
            img {
                max-height: 60px;
                max-width: 380px;
                width: auto;
            }
            span {
                font-size: 35px;
                color: #fff;
                font-weight: 900;
                text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            }
        }
        .login-area {
            padding: 15px 60px 60px;
            .login-background-area {
                width: 100%;
                left: 0;
                right: 0;
                bottom: 0;
                .login-color-area {
                    display: none;
                }
            }
            .login-form-area {
                position: initial;
                width: 390px;
                margin: 0 auto;
                .form-content {
                    background: #fff;
                    padding: 35px 30px;
                    border-radius: 10px;
                    box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
                    h1 {
                        font-size: 26px;
                        font-weight: 900;
                        margin-bottom: 10px;
                    }
                    h2 {
                        font-size: 22px;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                    .form-control {
                        background-color: #f7f7f7 !important;
                        color: #000;
                    }
                }
            }
        }
    }
}
#login_login_description,
#login_forgot_description,
#login_signup_description {
    display: none;
}
#page-login-index .login_theme--login_theme_imagetext_login {
    #login_login_description {
        display: block;
    }
    &.login-wrapper .login-area .login-background-area .login-color-area {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
#page-login-forgot_password .login_theme--login_theme_imagetext_login {
    #login_forgot_description {
        display: block;
    }
    &.login-wrapper .login-area .login-background-area .login-color-area {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
#page-login-signup .login_theme--login_theme_imagetext_login {
    #login_signup_description {
        display: block;
    }
    &.login-wrapper .login-area .login-background-area .login-color-area {
        background-color: rgba(0, 0, 0, 0.6);
    }
}
