.pagelayout-mycourses {
    #instance-5-header {
        display: none;
    }
    .block-region .block .card-body {
        border: none;
        .card-title {
            background: transparent;
            border-bottom: none;
        }
    }
}