.footer-icon {
    border-radius : 50%;
    color         : #FFFFFF;
    display       : block;
    float         : right;
    font-family   : FontAwesome;
    font-size     : 1.5em;
    height        : 1.8em;
    line-height   : 1.8em;
    margin        : 0 0.2em 0.4em;
    text-align    : center;
    width         : 1.8em;
    text-shadow   : none;
    &.website {
        background : linear-gradient(45deg, #F42941 0%, rgba(244, 41, 65, 0.30) 100%);
    }
    &.facebook {
        background : linear-gradient(45deg, #4A6EA9 0%, rgba(74, 110, 169, 0.30) 100%);
    }
    &.twitter {
        background : linear-gradient(45deg, #00ACED 0%, rgba(0, 172, 237, 0.30) 100%);
    }
    &.googleplus {
        background : linear-gradient(45deg, #F42941 0%, rgba(244, 41, 65, 0.30) 100%);
    }
    &.flickr {
        background : linear-gradient(45deg, #FF3096 0%, rgba(255, 48, 150, 0.30) 100%);
    }
    &.instagram {
        background : linear-gradient(45deg, #B99C6B 0%, rgba(185, 156, 107, 0.30) 100%);
    }
    &.youtube {
        background : linear-gradient(45deg, #F42941 0%, rgba(244, 41, 65, 0.30) 100%);
    }
    &.pinterest {
        background : linear-gradient(45deg, #F42941 0%, rgba(244, 41, 65, 0.30) 100%);
    }
    &.linkedin {
        background : linear-gradient(45deg, #3E647E 0%, rgba(62, 100, 126, 0.30) 100%);
    }
    &.apple {
        background : linear-gradient(45deg, #747474 0%, rgba(116, 116, 116, 0.30) 100%);
    }
    &.android {
        background : linear-gradient(45deg, #76B900 0%, rgba(118, 185, 0, 0.30) 100%);
    }
}