@mixin theme-2-cores($theme-name, $angulo, $color1, $color2) {
    .theme-#{$theme-name} #page #page-header::before,
    .theme-#{$theme-name} .block div.header,
    .theme-#{$theme-name} .navbar .btn-navbar,
    .theme-select-#{$theme-name} .preview,
    .theme-#{$theme-name} #loginone-wrapper #loginbtn {
        background: $color1;
        background: -moz-linear-gradient($angulo, $color1, $color2);
        background: -webkit-linear-gradient($angulo, $color1, $color2);
        background: linear-gradient($angulo, $color1, $color2);
    }
    .theme-#{$theme-name} #loginone-wrapper .login-icone i {
        color: $color1;
    }
    .theme-#{$theme-name} #loginone-wrapper {
        $color: str_slice("#{$color1}", 2, 7);
        background: #fff url(../../../degrade/pix/background/#{$color}.jpg) no-repeat fixed 50%;
    }
}
@mixin theme-3-cores($theme-name, $angulo, $color1, $color2, $color3) {
    .theme-#{$theme-name} #page #page-header::before,
    .theme-#{$theme-name} .block div.header,
    .theme-#{$theme-name} .navbar .btn-navbar,
    .theme-select-#{$theme-name} .preview,
    .theme-#{$theme-name} #loginone-wrapper #loginbtn {
        background: $color1;
        background: -moz-linear-gradient($angulo, $color1, $color2, $color3);
        background: -webkit-linear-gradient($angulo, $color1, $color2, $color3);
        background: linear-gradient($angulo, $color1, $color2, $color3);
    }
    .theme-#{$theme-name} #loginone-wrapper .login-icone i {
        color: $color2;
    }
    .theme-#{$theme-name} #loginone-wrapper {
        $color: str_slice("#{$color2}", 2, 7);
        background: #fff url(../../../degrade/pix/background/#{$color}.jpg) no-repeat fixed 50%;
    }
}
@include theme-3-cores('default', 45deg, #fd81b5, #c961f7, #8089ff);

@include theme-2-cores('green1', 30deg, #00c3b0, #339625);

@include theme-2-cores('green2', -45deg, #30e8bf, #ff8235);

@include theme-2-cores('green3', -45deg, #00bf8f, #001510);

@include theme-2-cores('blue1', 30deg, #007bc3, #2eb8b7);

@include theme-2-cores('blue2', -45deg, #000428, #0074da);

@include theme-2-cores('blue3', 30deg, #314755, #26a0da);

@include theme-3-cores('blue4', 30deg, #03001e, #7303c0, #ec38bc);

@include theme-2-cores('blue5', 30deg, #00f0ff, #ff00f6);

@include theme-2-cores('blue6', 30deg, #83a4d4, #b6fbff);

@include theme-2-cores('red1', 30deg, #c10f41, #233b88);

@include theme-3-cores('red2', 135deg, #1a2a6c, #b21f1f, #fdbb2d);

@include theme-2-cores('red3', -45deg, #ceac7a, #ef629f);

@include theme-2-cores('red4', 30deg, #e65c00, #f9d423);

@include theme-2-cores('red5', 30deg, #d12924, #60090c);

@include theme-2-cores('red6', 30deg, #ff512f, #dd2476);

@include theme-2-cores('red7', 30deg, #fc354c, #0abfbc);

@include theme-2-cores('red8', 30deg, #86377b 20%, #27273c 80%);

@include theme-3-cores('black1', 135deg, #070000, #4c0001, #070000);

.theme-select-item {
    float: left;
    .preview {
        width: 50px;
        height: 50px;
        margin: 1.5px;
        border-radius: 6px;
        cursor: pointer;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
    }
}
