///////////////////
// theme-default
.theme-default1 #header.color-header,
.theme-default1 #nav-drawer .list-group-item.active > div,
.theme-default1 #nav-drawer .list-group-item.active:hover,
.theme-default1 #page:before,
.theme-select-default1 .preview {
    background: #f55ff2;
    background: linear-gradient(45deg, #f54266, #3858f9);
}
.theme-default1 .btn-primary {
    background: #f54266;
}
.theme-default1 .loginpage {
    background-image: url([[pix:theme|background/C961F7]]);
}
.theme-default1.loginbody {
    background-color: #c961f7;
}
///////////////////
// theme-default1
.theme-default2 #header.color-header,
.theme-default2 #nav-drawer .list-group-item.active > div,
.theme-default2 #nav-drawer .list-group-item.active:hover,
.theme-default2 #page:before,
.theme-select-default2 .preview {
    background: #fd81b5;
    background: linear-gradient(45deg, #fd81b5, #c961f7, #8089ff);
}
.theme-default2 .btn-primary {
    background: #c961f7;
}
.theme-default2.loginbody:before{
    background-image: url([[pix:theme|background/C961F7]]);
}
.theme-default2.loginbody {
    background-color: #c961f7;
}
///////////////////
// theme-green1
.theme-green1 #header.color-header,
.theme-green1 #nav-drawer .list-group-item.active > div,
.theme-green1 #nav-drawer .list-group-item.active:hover,
.theme-green1 #page:before,
.theme-select-green1 .preview {
    background: #00c3b0;
    background: linear-gradient(30deg, #00c3b0, #339625);
}
.theme-green1 .btn-primary {
    background: #00c3b0;
}
.theme-green1 .loginpage {
    background-image: url([[pix:theme|background/00C3B0]]);
}
.theme-green1.loginbody {
    background-color: #00c3b0;
}
///////////////////
// theme-green2
.theme-green2 #header.color-header,
.theme-green2 #nav-drawer .list-group-item.active > div,
.theme-green2 #nav-drawer .list-group-item.active:hover,
.theme-green2 #page:before,
.theme-select-green2 .preview {
    background: #30e8bf;
    background: linear-gradient(-45deg, #30e8bf, #ff8235);
}
.theme-green2 .btn-primary {
    background: #30e8bf;
}
.theme-green2 .loginpage {
    background-image: url([[pix:theme|background/30E8BF]]);
}
.theme-green2.loginbody {
    background-color: #30e8bf;
}
///////////////////
// theme-green3
.theme-green3 #header.color-header,
.theme-green3 #nav-drawer .list-group-item.active > div,
.theme-green3 #nav-drawer .list-group-item.active:hover,
.theme-green3 #page:before,
.theme-select-green3 .preview {
    background: #00bf8f;
    background: linear-gradient(-45deg, #00bf8f, #001510);
}
.theme-green3 .btn-primary {
    background: #00bf8f;
}
.theme-green3 .loginpage {
    background-image: url([[pix:theme|background/00BF8F]]);
}
.theme-green3.loginbody {
    background-color: #00bf8f;
}
///////////////////
// theme-blue1
.theme-blue1 #header.color-header,
.theme-blue1 #nav-drawer .list-group-item.active > div,
.theme-blue1 #nav-drawer .list-group-item.active:hover,
.theme-blue1 #page:before,
.theme-select-blue1 .preview {
    background: #007bc3;
    background: linear-gradient(30deg, #007bc3, #2eb8b7);
}
.theme-blue1 .btn-primary {
    background: #007bc3;
}
.theme-blue1 .loginpage {
    background-image: url([[pix:theme|background/007BC3]]);
}
.theme-blue1.loginbody {
    background-color: #007bc3;
}
///////////////////
// theme-blue2
.theme-blue2 #header.color-header,
.theme-blue2 #nav-drawer .list-group-item.active > div,
.theme-blue2 #nav-drawer .list-group-item.active:hover,
.theme-blue2 #page:before,
.theme-select-blue2 .preview {
    background: #000428;
    background: linear-gradient(-45deg, #000428, #0074da);
}
.theme-blue2 .btn-primary {
    background: #000428;
}
.theme-blue2 .loginpage {
    background-image: url([[pix:theme|background/000428]]);
}
.theme-blue2.loginbody {
    background-color: #000428;
}
///////////////////
// theme-blue3
.theme-blue3 #header.color-header,
.theme-blue3 #nav-drawer .list-group-item.active > div,
.theme-blue3 #nav-drawer .list-group-item.active:hover,
.theme-blue3 #page:before,
.theme-select-blue3 .preview {
    background: #314755;
    background: linear-gradient(30deg, #314755, #26a0da);
}
.theme-blue3 .btn-primary {
    background: #314755;
}
.theme-blue3 .loginpage {
    background-image: url([[pix:theme|background/314755]]);
}
.theme-blue3.loginbody {
    background-color: #314755;
}
///////////////////
// theme-blue4
.theme-blue4 #header.color-header,
.theme-blue4 #nav-drawer .list-group-item.active > div,
.theme-blue4 #nav-drawer .list-group-item.active:hover,
.theme-blue4 #page:before,
.theme-select-blue4 .preview {
    background: #03001e;
    background: linear-gradient(30deg, #03001e, #7303c0, #ec38bc);
}
.theme-blue4 .btn-primary {
    background: #7303c0;
}
.theme-blue4 .loginpage {
    background-image: url([[pix:theme|background/7303C0]]);
}
.theme-blue4.loginbody {
    background-color: #7303c0;
}
///////////////////
// theme-blue5
.theme-blue5 #header.color-header,
.theme-blue5 #nav-drawer .list-group-item.active > div,
.theme-blue5 #nav-drawer .list-group-item.active:hover,
.theme-blue5 #page:before,
.theme-select-blue5 .preview {
    background: #00f0ff;
    background: linear-gradient(30deg, #00f0ff, #ff00f6);
}
.theme-blue5 .btn-primary {
    background: #00f0ff;
}
.theme-blue5 .loginpage {
    background-image: url([[pix:theme|background/00F0FF]]);
}
.theme-blue5.loginbody {
    background-color: #00f0ff;
}
///////////////////
// theme-blue6
.theme-blue6 #header.color-header,
.theme-blue6 #nav-drawer .list-group-item.active > div,
.theme-blue6 #nav-drawer .list-group-item.active:hover,
.theme-blue6 #page:before,
.theme-select-blue6 .preview {
    background: #83a4d4;
    background: linear-gradient(30deg, #83a4d4, #b6fbff);
}
.theme-blue6 .btn-primary {
    background: #83a4d4;
}
.theme-blue6 .loginpage {
    background-image: url([[pix:theme|background/83A4D4]]);
}
.theme-blue6.loginbody {
    background-color: #83a4d4;
}
///////////////////
// theme-red1
.theme-red1 #header.color-header,
.theme-red1 #nav-drawer .list-group-item.active > div,
.theme-red1 #nav-drawer .list-group-item.active:hover,
.theme-red1 #page:before,
.theme-select-red1 .preview {
    background: #c10f41;
    background: linear-gradient(30deg, #c10f41, #233b88);
}
.theme-red1 .btn-primary {
    background: #c10f41;
}
.theme-red1 .loginpage {
    background-image: url([[pix:theme|background/C10F41]]);
}
.theme-red1.loginbody {
    background-color: #c10f41;
}
///////////////////
// theme-red2
.theme-red2 #header.color-header,
.theme-red2 #nav-drawer .list-group-item.active > div,
.theme-red2 #nav-drawer .list-group-item.active:hover,
.theme-red2 #page:before,
.theme-select-red2 .preview {
    background: #1a2a6c;
    background: linear-gradient(135deg, #1a2a6c, #b21f1f, #fdbb2d);
}
.theme-red2 .btn-primary {
    background: #b21f1f;
}
.theme-red2 .loginpage {
    background-image: url([[pix:theme|background/B21F1F]]);
}
.theme-red2.loginbody {
    background-color: #b21f1f;
}
///////////////////
// theme-red3
.theme-red3 #header.color-header,
.theme-red3 #nav-drawer .list-group-item.active > div,
.theme-red3 #nav-drawer .list-group-item.active:hover,
.theme-red3 #page:before,
.theme-select-red3 .preview {
    background: #ceac7a;
    background: linear-gradient(-45deg, #ceac7a, #ef629f);
}
.theme-red3 .btn-primary {
    background: #ceac7a;
}
.theme-red3 .loginpage {
    background-image: url([[pix:theme|background/CEAC7A]]);
}
.theme-red3.loginbody {
    background-color: #ceac7a;
}
///////////////////
// theme-red4
.theme-red4 #header.color-header,
.theme-red4 #nav-drawer .list-group-item.active > div,
.theme-red4 #nav-drawer .list-group-item.active:hover,
.theme-red4 #page:before,
.theme-select-red4 .preview {
    background: #e65c00;
    background: linear-gradient(30deg, #e65c00, #f9d423);
}
.theme-red4 .btn-primary {
    background: #e65c00;
}
.theme-red4 .loginpage {
    background-image: url([[pix:theme|background/E65C00]]);
}
.theme-red4.loginbody {
    background-color: #e65c00;
}
///////////////////
// theme-red5
.theme-red5 #header.color-header,
.theme-red5 #nav-drawer .list-group-item.active > div,
.theme-red5 #nav-drawer .list-group-item.active:hover,
.theme-red5 #page:before,
.theme-select-red5 .preview {
    background: #d12924;
    background: linear-gradient(30deg, #d12924, #60090c);
}
.theme-red5 .btn-primary {
    background: #d12924;
}
.theme-red5 .loginpage {
    background-image: url([[pix:theme|background/D12924]]);
}
.theme-red5.loginbody {
    background-color: #d12924;
}
///////////////////
// theme-red6
.theme-red6 #header.color-header,
.theme-red6 #nav-drawer .list-group-item.active > div,
.theme-red6 #nav-drawer .list-group-item.active:hover,
.theme-red6 #page:before,
.theme-select-red6 .preview {
    background: #ff512f;
    background: linear-gradient(30deg, #ff512f, #dd2476);
}
.theme-red6 .btn-primary {
    background: #ff512f;
}
.theme-red6 .loginpage {
    background-image: url([[pix:theme|background/FF512F]]);
}
.theme-red6.loginbody {
    background-color: #ff512f;
}
///////////////////
// theme-red7
.theme-red7 #header.color-header,
.theme-red7 #nav-drawer .list-group-item.active > div,
.theme-red7 #nav-drawer .list-group-item.active:hover,
.theme-red7 #page:before,
.theme-select-red7 .preview {
    background: #fc354c;
    background: linear-gradient(30deg, #fc354c, #0abfbc);
}
.theme-red7 .btn-primary {
    background: #fc354c;
}
.theme-red7 .loginpage {
    background-image: url([[pix:theme|background/FC354C]]);
}
.theme-red7.loginbody {
    background-color: #fc354c;
}
///////////////////
// theme-red8
.theme-red8 #header.color-header,
.theme-red8 #nav-drawer .list-group-item.active > div,
.theme-red8 #nav-drawer .list-group-item.active:hover,
.theme-red8 #page:before,
.theme-select-red8 .preview {
    background: #86377b;
    background: linear-gradient(30deg, #86377b, #27273c);
}
.theme-red8 .btn-primary {
    background: #86377b;
}
.theme-red8 .loginpage {
    background-image: url([[pix:theme|background/86377B]]);
}
.theme-red8.loginbody {
    background-color: #86377b;
}
///////////////////
// theme-black1
.theme-black1 #header.color-header,
.theme-black1 #nav-drawer .list-group-item.active > div,
.theme-black1 #nav-drawer .list-group-item.active:hover,
.theme-black1 #page:before,
.theme-select-black1 .preview {
    background: #070000;
    background: linear-gradient(135deg, #070000, #4c0001, #070000);
}
.theme-black1 .btn-primary {
    background: #4c0001;
}
.theme-black1 .loginpage {
    background-image: url([[pix:theme|background/4C0001]]);
}
.theme-black1.loginbody {
    background-color: #4c0001;
}
///////////////////
// heme-select-item
.theme-select-item {
    float: left;
}
.theme-select-item .preview {
    width: 50px;
    height: 50px;
    margin: 1.5px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}
