@import "../popular-default/popular";
.popular-section {
    .owl-courses-content {
        .top-courses-item {
            .top-courses-inner {
                &.top-courses-number {
                    width: 320px;
                    padding-left: 89px;
                    &.more-than-10 {
                        width: 380px;
                        padding-left: 139px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 142px;
                        height: 123px;
                        left: 43px;
                        top: 50%;
                        background: linear-gradient(248.28deg, #9e61ff 9.54%, rgba(142, 97, 255, 0) 32.8%), radial-gradient(81.71% 279.87% at -16.57% -92%, #619bff 28.69%, rgba(205, 219, 248, 0) 69.54%), #7b61ff;
                        filter: blur(40px);
                        margin-top: -62px;
                    }
                    .eadflix-nunber {
                        -webkit-text-stroke: 1px #ffffff;
                        -webkit-text-fill-color: transparent;
                        font-size: 160px;
                        line-height: 160px;
                        font-weight: 700;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -80px;
                        transition: .3s all;
                        &.eadflix-nunber-dozen{
                            left: -38px
                        }
                    }
                    a {
                        display: inline-block;
                        border: 2px solid transparent;
                        border-radius: 5px;
                        overflow: hidden;
                        box-shadow: none;
                        text-decoration: none;
                        z-index: 9;
                        position: relative;
                        &:hover {
                            color: #7b61ff;
                        }
                    }
                    &:hover {
                        a {
                            border-color: #7b61ff;
                            img {
                                transform: scale(1.1);
                            }
                        }
                        .eadflix-nunber {
                            font-size: 200px;
                        }
                    }
                }
            }
        }
    }
    a, h6 a {
        color: #ffffff;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
        margin-top: 0;
        font-weight: 700;
    }
    .owl-carousel .owl-nav > button {
        &:hover {
            background: #7b61ff;
        }
    }
}
[data-themename=degrade] {
    .popular-section .owl-courses-content .top-courses-item .top-courses-inner.top-courses-number {
        &:before {
            background: linear-gradient(248.28deg, #2d2b30 9.54%, rgba(142, 97, 255, 0) 32.8%),
            radial-gradient(81.71% 279.87% at -16.57% -92%, #619bff 28.69%, rgba(205, 219, 248, 0) 69.54%),
            #b4b0cb;
        }
        .eadflix-nunber {
            -webkit-text-stroke: 2px #707888;
        }
    }
}
[data-themename=eadflix] {
    .block-home-popular-number-eadflix {
        .container {
            max-width: initial;
            padding-right: 0;
            padding-left: 0;
            margin-right: 0;
            margin-left: 0;
        }
    }
}