{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_degrade/core/full_header

    This template renders the header.

    Example context (json):
    {
        "contextheader": "context_header_html",
        "settingsmenu": "settings_html",
        "hasnavbar": false,
        "navbar": "navbar_if_available",
        "courseheader": "course_header_html",
        "welcomemessage": "welcomemessage"
    }
}}
{{#hasnavbarcourse}}
    <header id="page-header" class="header-maxwidth hasnavbarcourse">
        <div class="position-absolute hasnavbarcourse-gradient-image w-100 h-100"
             style="background-image: url('{{{overviewfiles}}}');">
            <div class="overlay-gradient-image"></div>
        </div>
        <div class="w-100 header-wrapper" style="z-index:1;">
            <div class="header-actions-container ms-auto" data-region="header-actions-container">
                {{#headeractions}}
                    <div class="header-action ms-2">{{{.}}}</div>
                {{/headeractions}}
                {{#headeractions_banner_course_edit}}
                    <div class="header-action ms-2">
                        <a id="headeractions-banner-{{{headeractions_banner_courseid}}}"
                           class="btn btn-primary text-nowrap"
                           href="{{{headeractions_banner_course_edithref}}}">
                            {{#str}}course_summary_banner_edit, theme_degrade{{/str}}
                        </a>
                    </div>
                {{/headeractions_banner_course_edit}}
            </div>
            <div class="d-flex flex-wrap">
                {{#hasnavbar}}
                    <div id="page-navbar">
                        {{{navbar}}}
                    </div>
                {{/hasnavbar}}
            </div>
            <div class="course-intro-category-name">{{categoryname}}</div>
            <div class="page-context-header">
                <div class="page-header-headings">
                    {{{contextheader}}}
                </div>
            </div>
            <dl class="course-intro-details">
                {{#details}}
                    <dd class="course-intro-{{{id}}}">
                        <i class="fa {{{icon}}}"></i>
                        <div class="info">
                            {{#number}}
                                <h6 class="number">{{{number}}}</h6>
                            {{/number}}
                            {{#link}}
                                <a class="text" href="{{{link}}}">{{{text}}}</a>
                            {{/link}}
                            {{^link}}
                                <span class="text">{{{text}}}</span>
                            {{/link}}
                        </div>
                    </dd>
                {{/details}}
            </dl>
        </div>
    </header>
{{/hasnavbarcourse}}

{{#hasbannercourse}}
    <div id="page-header-size" class="hasbannercourse-size"></div>
    <header id="page-header"
            class="header-maxwidth d-print-none hasbannercourse">
        <div class="position-absolute hasnavbarcourse-gradient-image w-100 h-100"
             style="background-image: url('{{{banner_course_file_url}}}');">
            <div class="overlay-gradient-image"></div>
        </div>
        <div class="w-100 header-wrapper container" style="z-index:1;">
            <div class="header-actions-container ms-auto" data-region="header-actions-container">
                {{#headeractions}}
                    <div class="header-action ms-2">{{{.}}}</div>
                {{/headeractions}}
                {{#headeractions_banner_course_edit}}
                    <div class="header-action ms-2">
                        <a id="headeractions-banner-{{{headeractions_banner_courseid}}}"
                           class="btn btn-primary text-nowrap"
                           href="{{{headeractions_banner_course_edithref}}}">
                            {{#str}}course_summary_banner_edit, theme_degrade{{/str}}
                        </a>
                    </div>
                {{/headeractions_banner_course_edit}}
            </div>
            <div class="d-flex flex-wrap">
                {{#hasnavbar}}
                    <div id="page-navbar">
                        {{{navbar}}}
                    </div>
                {{/hasnavbar}}
            </div>
            <div class="course-intro-category-name">{{categoryname}}</div>
            <div class="page-context-header">
                <div class="page-header-headings">
                    {{{contextheader}}}
                </div>
            </div>
        </div>
    </header>
{{/hasbannercourse}}

{{^hasnavbarcourse}}
    {{^hasbannercourse}}
        <header id="page-header" class="header-maxwidth">
            <div class="w-100">
                <div class="d-flex flex-wrap">
                    {{#hasnavbar}}
                        <div id="page-navbar">
                            {{{navbar}}}
                        </div>
                    {{/hasnavbar}}
                    <div class="ms-auto d-flex">
                        {{{pageheadingbutton}}}
                    </div>
                    <div id="course-header">
                        {{{courseheader}}}
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    {{^welcomemessage}}
                        {{#contextheader}}
                            <div class="me-auto">
                                {{{contextheader}}}
                            </div>
                        {{/contextheader}}
                    {{/welcomemessage}}
                    {{> core/welcome }}
                    <div class="header-actions-container ms-auto" data-region="header-actions-container">
                        {{#headeractions}}
                            <div class="header-action ms-2">{{{.}}}</div>
                        {{/headeractions}}
                        {{#headeractions_banner_course_edit}}
                            <div class="header-action ms-2">
                                <a id="headeractions-banner-{{{headeractions_banner_courseid}}}"
                                   class="btn btn-primary text-nowrap"
                                   href="{{{headeractions_banner_course_edithref}}}">
                                    {{#str}}course_summary_banner_edit, theme_degrade{{/str}}
                                </a>
                            </div>
                        {{/headeractions_banner_course_edit}}
                    </div>
                </div>
            </div>
        </header>
    {{/hasbannercourse}}
{{/hasnavbarcourse}}
