{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/user_menu

    Action link template.

    Context variables required for this template:
    * unauthenticateduseruser - (Optional) Items to be displayed if an an unautheticated user is accessing the site
        * content - The content to be displayed in the header.
        * url - The login url
    * items - Array of user menu items used in user_action_menu_items. Required if the above not provided.
    * metadata - Array of additional metadata to be displayed in the dropdown button.
    * avatardata - Array of avatars to be displayed. Usually only the current user's avatar. If viewing as another user,
        includes that user's avatar.
    * userfullname - The name of the logged in user
    * submenus - Array of submenus within the user menu.
      * id - The id of the submenu.
      * title - The title of the submenu.
      * items - Array of the submenu items used in core/user_action_menu_submenu_items.

    Example context (json):
    {
        "unauthenticateduser": {
            "content": "You are not logged in",
            "url": "https://yourmoodlesite/login/index.php"
        },
        "items": [],
        "metadata": [],
        "avatardata": [],
        "userfullname": "Admin User",
        "submenus": [
            {
                "id": "86cebd87",
                "title": "Submenu title",
                "items": []
            }
        ]
    }
}}
<div class="usermenu">
    {{#unauthenticateduser}}
        <span class="login pl-2 btn btn-primary">
            {{#guest}}
                {{#str}} loggedinasguest, core {{/str}}
                <div class="divider border-left h-75 align-self-center mx-2"></div>
            {{/guest}}
            {{#url}}
                <a href="{{url}}">{{#str}} login, core {{/str}}</a>
            {{/url}}
        </span>
    {{/unauthenticateduser}}
    {{^unauthenticateduser}}
        <a href="#" id="user-menu-toggle">
            <span class="userbutton">
                {{> core/user_menu_metadata }}
            </span>
        </a>

    {{/unauthenticateduser}}
</div>
{{#js}}
    /*
    <script>*/
    require(["jquery", "core/modal_factory"], function($, ModalFactory) {
        var modal;
        ModalFactory.create({
            type: ModalFactory.types.DEFAULT,
            title: "{{{userfullname}}}",
            body: `{{#avatardata}}
                       <span class="avatar d-none {{classes}}">
                           {{{content}}}
                       </span>
                   {{/avatardata}}
                   <div class="usermenu-modal-tabs">
                       <div class="tabs-menu-link">
                           {{> core/user_action_menu_items }}
                       </div>
                       <div class="usermenu-modal-tabs-content"></div>
                   </div>`,
        }).then(function(_modal) {
            window.wmodal= modal = _modal;

            if (!modal.root) {
                modal.root = modal._root;
            }

            modal.root.find(".modal-dialog").addClass("modal-xl usermenu-modal-userlinks");

            modal.root.find(".modal-header").append(`
                    <div class="user-action d-flex">
                        <div class="languages dropdown">
                            <a href="#" class="dropdown-toggle nav-link">{{#str}}language{{/str}}</a>
                            <div class="submenus">
                                {{#submenus}}
                                    {{>core/user_action_menu_submenu_items}}
                                {{/submenus}}
                            </div>
                        </div>
                    </div>`);
            modal.root.find(".modal-header button").appendTo(modal.root.find(".modal-header .user-action"));

            usermodal_init();
        });

        $("#user-menu-toggle").click(function(event) {
            event.preventDefault();
            modal.show();

            if ($(window).width() <= 575) {
                /* se menor não faz nada */
            } else {
                var $menu = modal.root.find(".usermenu-modal-tabs .tabs-menu-link a:first-child");
                console.log($menu);
                setIframeUrl($menu);
            }
        });

        function usermodal_init() {
            modal.root.find(".usermenu-modal-tabs .tabs-menu-link a:first-child").addClass("active");
            modal.root.find(".usermenu-modal-tabs .tabs-menu-link a").click(function() {
                event.preventDefault();

                var $menu = $(this);
                setIframeUrl($menu);
            });
        }

        function setIframeUrl($menu) {
            modal.root.find(".usermenu-modal-tabs .tabs-menu-link a").removeClass("active");
            $menu.addClass("active");

            var href = $menu.attr("href");

            if ($(window).width() <= 575) {
                location.href = href;
            }

            if (href.includes("login/logout.php") ||
                    href.includes("switchrole.php") ||
                    href.includes("reportbuilder") ||
                    href.includes("user/files.php")) {
                location.href = href;
            } else if (href == "#") {
                alert("ops...");
            } else {
                if (href.includes('?')) {
                    href += '&embed-frame-top=1';
                } else {
                    href += '?embed-frame-top=1';
                }

                if (href.includes("user/profile.php")) {
                    modal.root.find(".modal-header").addClass("show-avatar");

                    modal.root.find(".usermenu-modal-tabs-content").html(`
                        <div class="user m-2">
                            {{#avatardata}}
                                <span class="avatar d-none {{classes}}">
                                    {{{content}}}
                                </span>
                            {{/avatardata}}
                            <h2>{{{userfullname}}}</h2>
                        </div>
                        <div class="usermenu-modal-tabs-content-internal"></div>`);

                    modal.root.find(".usermenu-modal-tabs-content-internal")
                            .load(href);
                } else {
                    modal.root.find(".modal-header").removeClass("show-avatar");

                    modal.root.find(".usermenu-modal-tabs-content")
                            .load(href);
                }
            }
        }
    });

{{/js}}
