{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/main

    This template renders the main content area for the myoverview block.

    Example context (json):
    {
      "config": {
        "wwwroot": "https://www.exemplo.com"
      },
      "logourl_header": "<img src='https://www.exemplo.com/logo.png' alt='Logo'>",
      "primarymoremenu": true,
      "output": {
        "custom_menu": "<li class='nav-item'><a class='nav-link' href='/page1'>Página 1</a></li>",
        "page_heading_menu": "<li class='nav-item'><a class='nav-link' href='/home'>Início</a></li>",
        "search_box": "<form class='form-inline'><input class='form-control' type='search' placeholder='Pesquisar' aria-label='Pesquisar'></form>",
        "navbar_plugin_output": "<li class='nav-item'><a class='nav-link' href='/plugin'>Plugin</a></li>",
        "edit_switch": "<a href='/edit' class='btn btn-warning'>Editar</a>"
      },
      "langmenu": true,
      "usermenu": true,
      "top_scroll": 1
    }

}}

<nav id="header" class="navbar navbar-light navbar-expand"
     aria-label="{{#str}}sitemenubar, admin{{/str}}">

    <div class="container-fluid">
        <div class="header-menubar header-menubar-inner">

            <div class="header-logo">
                <a class="navbar-brand" href="{{{config.wwwroot}}}/?redirect=0">
                    {{{logourl_header}}}
                </a>
            </div>

            <button class="navbar-toggler aabtn d-block d-md-none px-1 my-1 border-0" data-toggler="drawers"
                    data-action="toggle" data-target="theme_boost-drawers-primary">
                <span class="navbar-toggler-icon"></span>
                <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
            </button>

            {{#primarymoremenu}}
                <div class="primary-navigation">
                    {{> core/moremenu}}
                </div>
            {{/primarymoremenu}}
            <div class="primary-navigation">
                <div class="custom-menu navigation">
                    <ul class="navbar-nav dropdown mr-auto">
                        {{{output.custom_menu}}}
                    </ul>
                </div>
            </div>

            <ul class="navbar-nav d-none d-md-flex my-1 px-1">
                <!-- page_heading_menu -->
                {{{output.page_heading_menu}}}
            </ul>

            <div id="usernavigation" class="navbar-nav ml-auto">
                <div class="kraus-layout-dark">
                    <div class="dark-mode" data-toggle="tooltip" title="Dark Mode">
                        {{#pix}}dark/dark-lua, theme_degrade{{/pix}}
                    </div>
                    <div class="light-mode" data-toggle="tooltip" title="Light Mode">
                        {{#pix}}dark/dark-sol, theme_degrade{{/pix}}
                    </div>
                </div>
                {{#output.search_box}}
                    {{{output.search_box}}}
                    <div class="divider border-left h-75 align-self-center mx-1"></div>
                {{/output.search_box}}
                {{#langmenu}}
                    {{> theme_boost/language_menu}}
                    <div class="divider border-left h-75 align-self-center mx-1"></div>
                {{/langmenu}}
                {{{output.navbar_plugin_output}}}
                <div class="d-flex align-items-center usermenu-container" data-region="usermenu">
                    {{#usermenu}}
                        {{> core/user_menu}}
                    {{/usermenu}}
                </div>
                {{{output.edit_switch}}}
            </div>
        </div>
    </div>
</nav>

{{> theme_boost/primary-drawer-mobile}}

{{#js}}
    require(["jquery", "core/ajax"], function($, ajax) {

        var top_scroll = Math.floor("{{top_scroll}}");
        if (!top_scroll) {
            var header = $("#header");
            var page = $("#page");
            $(window).on("scroll", window_scroll);
            window_scroll();

            function window_scroll() {

                if ($(window).width() < 800) {
                    header.removeClass("fixed-top");
                    return;
                }

                var top = $(window).scrollTop();
                if (top > 90 && !header.hasClass("fixed-top")) {
                    header.addClass("fixed-top");

                    page.css({
                        "margin-top" : header.height() + 14
                    });
                }
                if (top < 15 && header.hasClass("fixed-top")) {
                    header.removeClass("fixed-top");

                    page.css({
                        "margin-top" : 14
                    });
                }
            }
        }

        // kraus-layout-dark
        var $layoutMode = $(".kraus-layout-dark div");
        $layoutMode.click(function() {
            $("body").addClass("dark-animation");
            setTimeout(function() {
                $("body").removeClass("dark-animation");
            }, 500);

            var layout = "dark";
            if ($("html").attr("data-bs-theme") == "dark") {
                layout = "light";
            }
            $("html").attr("data-bs-theme", layout);

            ajax.call([{
                methodname : "theme_degrade_userprerence_layout",
                args       : {layout : layout}
            }]);
        });
    });
{{/js}}