{{#promatedcourse}}
    <div class="custom-courses-list" class="Promoted-Courses">
        <div class="container-fluid">
            <div class="titlebar with-felements"></div>
        </div>
    </div>
{{/promatedcourse}}