{{!
    @template theme_degrade/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer"
     class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}"
     aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">

    {{#islogin}}
        <div class="sidebar_usermenu">
            <div class="user-pic">
                <img src="{{{ usericon }}}" alt="{{{ user.firstname }}}">
            </div>
            <div class="user-firstname">{{{ user.firstname }}}</div>
            <div class="user-lastname">{{{ user.lastname }}}</div>
        </div>
    {{/islogin}}

    {{> theme_degrade/flat_navigation }}
</div>
