.popular-section {
  padding-bottom: 40px;
  padding-top: 50px;
  position: relative;
  display: block;
}
.popular-section .owl-courses-content .top-courses-item .top-courses-inner {
  position: relative;
}
.popular-section .owl-courses-content .top-courses-item .top-courses-inner img {
  max-width: 190px;
  transform-style: preserve-3d;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: auto;
  transition: 0.3s all;
}
.popular-section .owl-courses-content .top-courses-item .top-courses-inner .content-back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #191c32;
  border-radius: 5px;
  transition: 0.5s all;
  transform: translateX(100%);
  text-align: center;
  padding: 20px;
}
.popular-section .owl-courses-content .top-courses-item .top-courses-inner .content-back .course-title a,
.popular-section .owl-courses-content .top-courses-item .top-courses-inner .content-back .video-description {
  color: #ffffff;
}
.popular-section .owl-courses-content .top-courses-item .top-courses-inner:hover .content-back {
  transform: none;
}
