{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_admin/notification_ctas

    The "From Moodle" CTA card grid shown at the bottom of the admin notifications page.

    Context variables required for this template:
    * heading - string, the section heading
    * subtitle - string, the section subtitle
    * hasctas - bool, whether there is at least one card to display
    * ctas - array of {key, logourl, logoheight, logopill, title, body, ticks, cta, caption, href, newwindow}

    Each card's brand colours are keyed off its data-cta-key attribute in the theme, so that the dark
    colour mode can correct them. They are deliberately not part of this context.

    Example context (json):
    {
    }
}}
